/* Write your CSS code here */
body {
  background-color: #cacaca;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c18462;
  height: 100vh;
}

.container {
  background-color: #f8f8f8;
  height: 460px;
  max-width: 700px;
  display: flex;
  box-shadow: 0 1px 1px 1px rgb(177, 174, 174);
  border-radius: 0.3em;
}

img {
  height: 400px;
  object-fit: cover;
  margin-top: 60px;
}

.closet-1 {
  height: 450px;
  width: 45%;
}

.closet-2 h1 {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;
}

.closet-2 {
  height: 450px;
  padding: 30px;
  width: 55%;
}

.closet-2 h2 {
  font-size: 12px;
  font-weight: 800;
  margin-top: 5px;
  padding-bottom: 10px;
}

input {
  height: 36px;
  width: 90%;
  font-size: 12px;
  background-color: transparent;
  padding: 10px;
  border-color: #5caec6;
  border-width: 3px;
  border-radius: 0.2em;
}

.btn {
  height: 70px;
  width: 90%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-1 {
  width: 35%;
  height: 36px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  color: white;
  justify-content: center;
  border-radius: 0.3em;
  background-color: #5caec6;
}

.btn-2 {
  width: 35%;
  height: 36px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  color: #5caec6;
  justify-content: center;
  border-radius: 0.3em;
  border-width: 2px;
}


@media (max-width:691px) {
  body {
    background-color: #cacaca;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c18462;
    height: 100vh;
  }

  .container {
    background-color: #f8f8f8;
    height: 870px;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    box-shadow: 0 1px 1px 1px rgb(177, 174, 174);
    border-radius: 0.3em;
  }

  img {
    height: 400px;
    object-fit: cover;
  }

  .closet-1 {
    height: 450px;
    width: 80%;
  }

  .closet-2 h1 {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 15px;
  }

  .closet-2 {
    height: 450px;
    padding: 10px;
    width: 80%;
  }

  .closet-2 h2 {
    font-size: 12px;
    font-weight: 800;
    margin-top: 5px;
    padding-bottom: 10px;
  }

  input {
    height: 36px;
    width: 90%;
    font-size: 12px;
    background-color: transparent;
    padding: 10px;
    border-color: #5caec6;
    border-width: 3px;
    border-radius: 0.2em;
  }

  .btn {
    height: 70px;
    width: 90%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .btn-1 {
    width: 35%;
    height: 36px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    color: white;
    justify-content: center;
    border-radius: 0.3em;
    background-color: #5caec6;
  }

  .btn-2 {
    width: 35%;
    height: 36px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    color: #5caec6;
    justify-content: center;
    border-radius: 0.3em;
    border-width: 2px;
  }
}